<h2>Login Admin</h2>

<%= form_for(:user, url: "/admin/login") do |f| %>
  <div>
    <%= f.email_field :email, placeholder: "Email" %>
  </div>

  <div>
    <%= f.password_field :password, placeholder: "Senha" %>
  </div>

  <div>
    <%= f.submit "Entrar como Admin" %>
  </div>
<% end %>